.transactionsList {
    max-height: 45vh;
    overflow: auto;
}

.price {
    font-weight: 400;
    font-style: italic;
    font-size: 80%;
    line-height: 1.3em;
}

@media (min-width: 768px) {
    .form-inline .form-control.narrow-input {
        width: 100px;
    }
}

.main-logo {
    background-image: url('./img/logo-full-100px.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 240px;
}
